.api-header {
  font-size: 0.85rem;
  color: var(--md-typeset-color);
  margin-top: -0.6rem;
  margin-bottom: 1.2rem;
}

.api-header span {
  font-weight: 600;
}

.api-header a {
  color: var(--md-typeset-a-color);
}

.api-header > *:last-child::after {
  content: "";
}
